@keyframes burgerAnim {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}

@keyframes burgerAnimBack {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-45deg);
	}
}

@keyframes navAnim {
	0% {
		transform: translateX(500%);
	}
	100% {
		transform: translateX(0%);
	}
}
