@media (min-width: 768px) {
	.nav {
		&__button {
			display: none;
		}
		&__list {
			display: flex;
		}
	}

	header {
		background-image: url('/src/img/hero-big.jpeg');
		.header__txt {
			small {
				font-size: 3rem;
				font-weight: 300;
			}
			h1 {
				font-size: 5rem;
				line-height: 8rem;
				letter-spacing: 2px;
			}
		}
	}
	.about {
		&__card {
			display: flex;
		}
		&__img {
			width: 100%;
			&-img {
				width: 100%;
				object-fit: fill;
			}
		}
		&__txt {
			p {
				font-size: 1.8rem;
			}
		}
		// &__txt {
		// 	width: 100%;
		// 	h2 {
		// 		padding: 0.8em 4em;
		// 		font-size: 5rem;
		// 		font-weight: 400;
		// 	}
		// }
		.about__hero {
			background-image: url('../img/two-big.jpeg');
			&-txt {
				h2 {
					padding: 0.8em 4em;
					font-size: 3rem;
					font-weight: 400;
				}
			}
		}
	}
	.offer {
		&__cards {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
			padding: 1em;
		}
		&__card {
			height: 100%;
		}
		&__more-txt {
			i {
				right: 26%;
				top: -100%;
				font-size: 5rem;
			}
		}
	}

	.contact {
		&__card {
			flex-direction: row;
		}
		&__map {
			width: 50%;
		}
		&__form {
			width: 50%;
		}
	}

	footer {
		min-height: 350px;
		.footer__info {
			display: flex;
		}
	}
}
