// font-family: 'Roboto', sans-serif;
@use './colors' as *;
@use './animations' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
}

a {
	text-decoration: none;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1200px;
	// padding: 1em;
}

.section__header {
	padding: 2em 0em;
	font-size: 3rem;
	text-transform: uppercase;
	h2 {
		font-weight: 200;
	}
}
// HEADER =====================

header {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background-image: url('/dist/img/hero-sm.jpeg');
	background-position: center;
	background-size: cover;
	overflow: hidden;
	z-index: 1;
	.nav {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100px;
		padding: 0em 1em;
		background-color: $white;
		z-index: 100;
		&__block {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 100%;
			max-width: 1200px;
		}
		&__logo {
			display: flex;
			gap: 0.5em;
			font-size: 4rem;
		}
		&__list {
			display: none;
			list-style: none;
			align-items: center;
			justify-items: center;
			height: 100%;
			font-size: 2rem;
		}
		&__item {
			display: flex;
			height: 100%;
		}
		&__link {
			position: relative;
			display: flex;
			align-items: center;
			padding: 0.8em;
			width: 100%;
			height: 100%;
			color: $black;
			transition: background-color 0.5s, color 0.5s;
			&:hover {
				color: $white;
				background-color: $black;
			}
		}
		.activeLink {
			color: $white;
			background-color: $black;
		}
		&__button {
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			top: 10px;
			right: 10px;
			width: 50px;
			height: 50px;
			border: 1px solid $grey;
			border-radius: 8px;
			overflow: hidden;
			transition: background-color 0.3s;
			cursor: pointer;
			z-index: 300;
			span {
				position: relative;
				width: 80%;
				height: 100%;
				&::after {
					position: absolute;
					content: '';
					top: 33%;
					width: 100%;
					height: 2px;
					background-color: $black;
					transition: background-color 0.3s;
				}
				&::before {
					position: absolute;
					content: '';
					top: 66%;
					width: 100%;
					height: 2px;
					background-color: $black;
					transition: background-color 0.3s;
				}
			}
			&:hover {
				background-color: $black;
			}
			&:hover span::after {
				background-color: $white;
			}
			&:hover span::before {
				background-color: $white;
			}
			.spanActive {
				&::after {
					top: 50%;
					animation: burgerAnim 1s 0s both;
				}
				&::before {
					top: 50%;
					animation: burgerAnimBack 1s 0s both;
				}
			}
		}
	}
	.nav__list-mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		list-style: none;
		font-size: 3rem;
		width: 100%;
		background-color: $white;
		height: 100vh;
		z-index: 80;
		transform: translateX(500%);
	}
	.nav__item-mobile {
		padding: 1em;
	}
	&::after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 0;
	}
	.showMenu {
		animation: navAnim 1s 0s linear both;
	}
	.header__txt {
		position: absolute;
		top: 50%;
		padding: 1em;
		width: 100%;
		max-width: 1200px;
		transform: translateY(-50%);
		color: $white;
		z-index: 1;
		small {
			font-size: 2rem;
			font-weight: 300;
		}
		h1 {
			font-size: 3rem;
			line-height: 7rem;
			letter-spacing: 2px;
		}
	}
}

//ABOUT =================================================

.about {
	display: flex;
	flex-direction: column;
	justify-items: center;
	&__card {
		display: flex;
		flex-direction: column;
		gap: 3em;
		margin: 1em;
		margin-bottom: 3em;
	}
	&__img {
		width: 100%;
		&-img {
			width: 100%;
		}
	}
	&__txt {
		width: 90%;
		h3 {
			font-size: 3rem;
			margin-bottom: 1em;
		}
		p {
			font-size: 1.6rem;
			font-weight: 200;
			line-height: 4rem;
			a {
				color: $black;
			}
		}
	}
	.about__hero {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url('../img/two-sm.jpeg');
		background-position: center;
		background-size: cover;
		height: 350px;
		z-index: 1;
		&::after {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.4);
		}
		&-txt {
			color: $white;
			border: 1px solid $white;
			z-index: 1;
			h2 {
				padding: 0.8em 2em;
				font-size: 2rem;
				font-weight: 400;
			}
		}
	}
}

footer {
	min-height: 200px;
	font-size: 1.4rem;
	font-weight: 200;
	background-color: $grey;
	.footer__card {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin: 3em 0em;
		padding: 0em 1em;
	}
	.nav__logo {
		display: flex;
		align-self: flex-start;
		gap: 0.5em;
		font-size: 4rem;
		font-weight: 400;
	}
	.footer__info {
		display: none;
		gap: 4em;
		&-list {
			list-style: none;
		}
		&-item {
			padding: 1em;
			h3 {
				font-size: 2rem;
			}
		}
	}
	.footer__txt {
		text-align: center;
		padding: 1em;
	}
}

@import './medium';
@import './large';
